script(type="text/javascript")
  |  $('#jamdatepicker').datetimepicker({
  |    format: 'L',
  |     date: new Date(Date.parse("#{jam.date}"))
  |    });

#jamid(data-id=jam.id)
if (jam.location)
  #locid(data-id=jam.location.id)
else
  #locid(data-id=-1)
if (jam.band)
  #bandid(data-id=jam.band.id)
else
  #bandid(data-id=-1)
.card
  .card-body
    .card-header
      .row
        .col
          h5 Date
          .form-group
            #jamdatepicker.input-group.date(data-target-input='nearest')
              input#jamdate.form-control.datetimepicker-input(type='text', data-target='#jamdatepicker')
              .input-group-append(data-target='#jamdatepicker', data-toggle='datetimepicker')
                .input-group-text
                  i.fa.fa-calendar
        .col
          h5 Title
          if (jam.title !== "")
            input.form-control#jamtitle(type='text' value=jam.title)
          else if (jam.title === "")
            input.form-control#jamtitle(type='text' placeholder="Untitled")
    .card-body
      .row
        .col
          .form-check.float-right
            if (jam.private)
              input.form-check-input(type='checkbox' checked id='isJamPrivate')
            else
              input.form-check-input(type='checkbox' id='isJamPrivate')
            label.form-check-label(for='isJamPrivate')
              i.fa.fa-key.fa-lg.mr-1
              | Private
      .row
        .col
          h5 Location
          if (jam.location)
            select#jamlocation.form-control(name="location", placeholder=jam.location.name, autocomplete="off")
          else
            select#jamlocation.form-control(name="location", placeholder="No Location Selected", autocomplete="off")
        .col
          h5 Band
          if (jam.band)
            select#jamband.form-control(name="band", placeholder=jam.band.name, autocomplete="off")
          else
            select#jamband.form-control(name="band", placeholder="No Band Selected", autocomplete="off")
      .row.mt-3
        .col
          h5 Notes
          if (jam.notes)
            textarea#jamnotes.form-control
              | #{jam.notes}
          else
            textarea#jamnotes.form-control(placeholder="Enter notes about this jam here")
      .row.mt-3
        .col
          h5 Musicians
          #musicianHolder
      .row.mt-3
        .col
          h5 Staff
          #staffHolder
      .row.mt-3
        .col-11
          h5 Music
        .col-1.float-right
          a(href='javascript:syncMedia("snd");')
            i.fas.fa-sync
          | &nbsp;&nbsp;
          a(href='javascript:stripTrackNumbers();')
            i.fas.fa-broom
      .row
        .col#tracksHolder
    p.float-right
      button#deleteJamButton.float-right.btn.btn-secondary Delete
      button#cancelJamButton.float-right.btn.btn-secondary.mr-2 Cancel
      button#saveJamButton.float-right.btn.btn-primary.mr-2 Save
