#jam(data-id=jam.id, data-date=jam.date)
.card.border-primary.m-1
  .card-header
    .row
      .col-8
        h4 Editing Jam
      .col
        a(href='javascript:')#viewJamButton.float-end.ms-2
          i.fa-sm.fa-solid.fa-check
        a(href='javascript:')#deleteJamButton.float-end.ms-2
          i.fa-sm.fa-solid.fa-trash
  .card.border-secondary
    .card-body
      .row
        .col
          h5 Date
          #jamdatepicker.input-group.date(data-target-input='nearest')
            input#jamdate.form-control.datetimepicker-input(type='text', data-target='#jamdatepicker')
            .input-group-append(data-target='#jamdatepicker', data-toggle='datetimepicker')
              .input-group-text
                i.fa-xl.fa-solid.fa-calendar
        .col
          h5 Title
          if (jam.title !== "")
            input.form-control#jamtitle(type='text' value=jam.title)
          else if (jam.title === "")
            input.form-control#jamtitle(type='text' placeholder="Untitled")
  .card.border-secondary
    .card-body
      .row
        .col-5
          h5 Location
          if (jam.location)
            #locid(data-id=jam.location.id, data-text=jam.location.name)
          else
            #locid(data-id=-1)
          .input-group
            select#jamlocation.form-control(type="text", name="location", autocomplete="off", data-url="/api/entity/search/locations")
            button.btn.btn-primary(type="Button")#clearJamLocationButton
              i.fa.fa-solid.fa-delete-left
        .col-5
          h5 Band
          if (jam.band)
            #bandid(data-id=jam.band.id, data-text=jam.band.name)
          else
            #bandid(data-id=-1)
          .input-group
            select#jamband.form-control(type="text", name="band", autocomplete="off", data-url="/api/entity/search/bands")
            button.btn.btn-primary(type="Button")#clearJamBandButton
              i.fa.fa-solid.fa-delete-left
        .col-2
          h5.d-none.d-md-block Private
          .form-check
            if (jam.private)
              input.form-check-input(type='checkbox' checked id='isJamPrivate')
            else
              input.form-check-input(type='checkbox' id='isJamPrivate')
            label.form-label(for='isJamPrivate')
              i.fa.fa-key.fa-lg.me-1
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Notes
        if (jam.notes)
          textarea#jamnotes.form-control(rows=3)
            | #{jam.notes}
        else
          textarea#jamnotes.form-control(placeholder="Enter notes about this jam here", rows=3)
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Musicians
        #musicianHolder
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Staff
        #staffHolder
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Music
        table.table#tracksTable
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h4 Pictures
        #picsHolder
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Video
        table.table#vidsTable
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Upload Media
        #theZone.border.p-2 Drag and Drop tracks here or click to browse...
        ul#filePreviews.list-group
