script(type="text/javascript")
  |  $('#jamdatepicker').datetimepicker({
  |    format: 'L',
  |     date: new Date(Date.parse("#{jam.date}"))
  |    });

#jamid(data-id=jam.id)
if (jam.location)
  #locid(data-id=jam.location.id)
else
  #locid(data-id=-1)
if (jam.band)
  #bandid(data-id=jam.band.id)
else
  #bandid(data-id=-1)
.card.border-primary.m-1
  h4.card-header Editing Jam
    button#deleteJamButton.float-end.btn.btn-danger.btn-sm.ms-2 Delete
    button#viewJamButton.float-end.btn.btn-primary.btn-sm Done
  .card.border-secondary
    .card-body
      .row
        .col
          h5 Date
          #jamdatepicker.input-group.date(data-target-input='nearest')
            input#jamdate.form-control.datetimepicker-input(type='text', data-target='#jamdatepicker')
            .input-group-append(data-target='#jamdatepicker', data-toggle='datetimepicker')
              .input-group-text
                i.fa-xl.fa-solid.fa-calendar
        .col
          h5 Title
          if (jam.title !== "")
            input.form-control#jamtitle(type='text' value=jam.title)
          else if (jam.title === "")
            input.form-control#jamtitle(type='text' placeholder="Untitled")
  .card.border-secondary
    .card-body
      .row
        .col-5
          h5 Location
          if (jam.location)
            select#jamlocation.form-control(name="location", placeholder=jam.location.name, autocomplete="off")
          else
            select#jamlocation.form-control(name="location", placeholder="No Location Selected", autocomplete="off")
        .col-5
          h5 Band
          if (jam.band)
            select#jamband.form-control(name="band", placeholder=jam.band.name, autocomplete="off")
          else
            select#jamband.form-control(name="band", placeholder="No Band Selected", autocomplete="off")
        .col-2
          h5 Private
          .form-check
            if (jam.private)
              input.form-check-input(type='checkbox' checked id='isJamPrivate')
            else
              input.form-check-input(type='checkbox' id='isJamPrivate')
            label.form-label(for='isJamPrivate')
              i.fa.fa-key.fa-lg.me-1
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Notes
        if (jam.notes)
          textarea#jamnotes.form-control(rows=3)
            | #{jam.notes}
        else
          textarea#jamnotes.form-control(placeholder="Enter notes about this jam here", rows=3)
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Musicians
        #musicianHolder
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Staff
        #staffHolder
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Music
        table.table#tracksTable
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h4 Pictures
        #picsHolder
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Video
        table.table#vidsTable
  .card.border-secondary
    .card-body.container-flex
      .row-flex
        h5 Upload Media
        #theZone.border.p-2 Drag and Drop tracks here or click to browse...
        ul#filePreviews.list-group
