#entity(data-id=id data-lat=lat data-lon=lon)
.card.border-primary.m-1
  .card-header
    .row
      .col-8
        h4 Editing #{displayType}: #{name}
      .col
        a(href='javascript:')#viewEntityButton.float-end.ms-2
          i.fa-solid.fa-sm.fa-check
        a(href='javascript:')#deleteEntityButton.float-end.ms-2
          i.fa-solid.fa-sm.fa-trash
  if (type === "staff" || type === "instruments" || type === "roles")
    .card.border-secondary
      .card-body
        .row
          .col
            h5 Name
              input.form-control#entityName(type='text' value=name)
  else if (type === "bands" || type === "musicians")
    .card.border-secondary
      .card-body
        .row
          .col
            h5 Name
              input.form-control#entityName(type='text' value=name)
          .col
            h5 Link
              input.form-control#entityLink(type='text' value=link)
  else if (type === "locations")
    .card.border-secondary
      .card-body
        .row
          .col
            h5 Name
              input.form-control#entityName(type='text' value=name)
          .col
            h5 Link
              input.form-control#entityLink(type='text' value=link)
    .card.border-secondary.mt-1
      .card-body
        .row
          .col
            h5 Address
              input.form-control#entityAddress(type='text' value=address)
    .card.border-secondary.mt-1
      .card-body
        p
          #map-canvas(style='width: 100%; height: 100px')