if (type === "bands")
  .card
    .card-body
      h4.card-title
        | #{displayType} #{name}
      if (link && link.indexOf('http://') === 0)
        a(href=link, target="_blank") #{link}
  .card
    .card-body
      h4.card-title
        | Appears on jams
      table.table#entityJamTable
else if (type === "locations")
  .card
    .card-body
      h4.card-title
        | #{displayType} #{name}
      if (link && link.indexOf('http://') === 0)
        a(href=link, target="_blank") #{link}
      if (address)
        p Address: #{address}
      if (lat && lon)
        #map-canvas(style='width:100%; height:100px')
  .card
    .card-body
      h4.card-title
        | Appears on jams
      table.table#entityJamTable
else if (type === "staff")
  .card
    .card-body
      h4.card-title
        | #{displayType} #{name}
  .card
    .card-body
      h4.card-title
        | Appears on jams
      table.table#entityJamTable
else if (type === "musicians")
  .card
    .card-body
      h4.card-title
        | #{displayType} #{name}
      if (link && link.indexOf('http://') === 0)
        a(href=link, target="_blank") #{link}
  .card
    .card-body
      h4.card-title
        | Appears on jams
      table.table#entityJamTable
else
  p There must be some confusion; we don't track this type.
