doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title BINK.js #{version}
    //jQuery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js', integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==', crossorigin='anonymous' referrerpolicy='no-referrer')

    //Bootstrap 5 uses the newer v2 of Popper, which conflicts with Bootstrap Table
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js' integrity='sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==' crossorigin='anonymous' referrerpolicy='no-referrer')

    //The bootstrap javascript library
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.min.js' integrity='sha512-zKeerWHHuP3ar7kX2WKBSENzb+GJytFSBL6HrR2nPSR1kOX1qjm+oHooQtbDpDBSITgyl7QXZApvDfDWvKjkUw==' crossorigin='anonymous' referrerpolicy='no-referrer')

    //Bootstrap DARKLY Theme -- should not need further customization!
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.7/darkly/bootstrap.min.css", integrity="sha512-p5mHOC7N2BAy1SdoU/f2XD4t7EM05/5b1QowPXdyvqrSFsWQl3HVqY60hvvnOcMVBXBwr3ysopvGgxqbaovv/Q==", crossorigin="anonymous" referrerpolicy='no-referrer')
    //FontAwesome Icons/Sprites usable with Bootstrap
    script(defer='' src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/js/all.min.js' integrity='sha512-b+nQTCdtTBIRIbraqNEwsjB6UvL3UEMkXnhzd8awtCYh0Kcsjl9uEgwVFVbhoj3uu1DO1ZMacNvLoyJJiNfcvg==' crossorigin='anonymous' referrerpolicy='no-referrer')
    //Howler.js import
    script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js' integrity='sha512-xi/RZRIF/S0hJ+yJJYuZ5yk6/8pCiRlEXZzoguSMl+vk2i3m6UjUO/WcZ11blRL/O+rnj94JRGwt/CHbc9+6EA==' crossorigin='anonymous' referrerpolicy='no-referrer')
    // Custom CSS that BINK uses
    link(href='css/bink.css', rel='stylesheet')
    // The BINK Client-side JavaScript Application
    script(src='js/bink.js')
  body
    #scriptHolders
    nav.navbar.navbar-expand-sm.navbar-dark.bg-primary
      .container-fluid
        a.navbar-brand(href='#') BINK v#{version}
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto
            li.nav-item
              a#recentButton.nav-link.active(aria-current='page' href='javascript:') Recent
            li.nav-item
              a#browseButton.nav-link(href='javascript:') Browse
            li.nav-item
              a#historyButton.nav-link(href='javascript:') History
            li.nav-item
              a#mapButton.nav-link(href='javascript:') Map
            li#adminItem.nav-item
              a#adminButton.nav-link(href='javascript:') Admin
    #main.main
    container-fluid.bg-primary.fixed-bottom.pt-2.ps-1
      .row.align-items-center
        .col-xl-3.col-lg-3.col-md-4.col-sm-4.col-12
          #playButton.btn.btn-primary(type=button)
            i.fa-solid.fa-play
          #pauseButton.btn.btn-primary.disabled(type=button)
            i.fa-solid.fa-pause
          #stopButton.btn.btn-primary(type=button)
            i.fa-solid.fa-stop
          #prevButton.btn.btn-primary(type=button)
            i.fa-solid.fa-step-backward
          #nextButton.btn.btn-primary(type=button)
            i.fa-solid.fa-step-forward
          #playlistButton.btn.btn-primary(type=button)
            i.fa-solid.fa-list
        .col-xl-4.col-lg-4.col-md-3.col-sm-2.col-6
          input.w-100#position(type="range", min=0, max=0, disabled)
        .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-6
          p#timeAndCursor.ms-2.mt-2 -:-- / -:--
        .col-xl-3.col-lg-3.col-md-3.col-sm-3.col-6
          p#currentlyPlaying.ms-2.mt-2
            em Nothing playing...
    #binkAlertModal.modal(tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h5#binkAlertTitle.modal-title ...
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            p#binkAlertText ...
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
