if (jam.hasOwnProperty('location') && jam.location.hasOwnProperty('lon') && jam.location.hasOwnProperty('lat'))
  #jam(data-id=jam.id data-lat=jam.location.lat data-lon=jam.location.lon)
else
  #jam(data-id=jam.id)
.card.border-primary.m-1
  h4.card-header
    | #{jam.mydate} - #{jam.title}
    if (jam.private)
      p.float-end
        i.fa.fa-key.fa-sm.ms-2
    if (admin)
      button#editJamButton.float-end.btn.btn-primary.btn-sm.ms-2 Edit
      button#deleteJamButton.float-end.btn.btn-danger.btn-sm Delete
  .card-body
    h6.card-subtitle.mb-2.text-muted
      if (jam.band && jam.location)
        a(href=`javascript:loadEntity('bands', ${jam.band.id});`) #{jam.band.name} 
        | &nbsp;at&nbsp;
        a(href=`javascript:loadEntity('locations', ${jam.location.id});`) #{jam.location.name}        
      else if jam.band
        a(href=`javascript:loadEntity('bands', ${jam.band.id});`) #{jam.band.name}
      else if jam.location
        | At&nbsp;
        a(href=`javascript:loadEntity('locations', ${jam.location.id});`) #{jam.location.name}
    if (jam.notes)
      .card-text
        | #{jam.notes}
  if (jam.location && jam.location.lat && jam.location.lon)
    .card.border-secondary
      h5.card-body
        .card-title Location
          #map-canvas(style='width:100%; height:100px')
  if (jam.musicians && jam.musicians.length > 0)
    .card.border-secondary
      .card-body
        h5.card-title Musicians
        .list-group
          for musician in jam.musicians
            .list-group-item
              a(href=`javascript:loadEntity('musicians', ${musician.id});`) #{musician.name}
              |&nbsp;-&nbsp;
              each instrument, index in musician.instruments
                if (index === (musician.instruments.length - 1))
                  | #{instrument.name}
                else
                  | #{instrument.name},&nbsp
  if (jam.staff && jam.staff.length > 0)
    .card.border-secondary
      .card-body
        h5.card-title Staff
        .list-group
          for staff in jam.staff
            li.list-group-item
              a(href=`javascript:loadEntity('staff', ${staff.id});`) #{staff.name}
              |&nbsp;-&nbsp;
              each role, index in staff.roles
                if (index === (staff.roles.length - 1))
                  | #{role.name}
                else
                  | #{role.name},&nbsp
  if (jam.tracks && jam.tracks.length > 0)
    .card.border-secondary
      .card-body
        h5.card-title Music
        .list-group
          for track in jam.tracks
            if (track.title === "--------------------")
              hr
              p.text-info.text-center SET BREAK
              hr
            else
              li.list-group-item
                a(href=track.path) #{track.title}
                if (track.notes && track.notes.length > 0 && track.notes.trim().length > 0)
                  | &nbsp;- #{track.notes}
                p.float-end
                  a(href=`javascript:playImmediately("${track.title}", "${track.path}");`)
                    i.fa.fa-play.fa-sm.me-2
                  a(href=`javascript:enqueueItem("${track.title}", "${track.path}");`)
                    i.fa.fa-plus.fa-sm
  if (jam.pictures && jam.pictures.length > 0)
    .card.border-secondary
      .card-body
        h4.card-title Pictures
          #binkPictureCarousel.container.carousel.slide.mx-auto(data-bs-ride='carousel')
            .carousel-indicators 
              if (jam.defpic !== null && jam.defpic.hasOwnProperty("id") && jam.defpic.id !== null && jam.defpic.id !== -1)
                each picture, index in jam.pictures
                  if (picture.id===jam.defpic.id)
                    button.active(type="button", data-bs-target="#binkPictureCarousel", data-bs-slide-to=index)
                  else
                    button(type="button", data-bs-target="#binkPictureCarousel", data-bs-slide-to=index)
                else
                  each picture, index in jam.pictures
                    if (index===0)
                      button.active(type="button", data-bs-target="#binkPictureCarousel", data-bs-slide-to=index)
                    else
                      button(type="button", data-bs-target="#binkPictureCarousel", data-bs-slide-to=index)
            .carousel-inner
              if (jam.defpic !== null && jam.defpic.hasOwnProperty("id") && jam.defpic.id !== null && jam.defpic.id !== -1)
                each picture, index in jam.pictures
                  if (picture.id===jam.defpic.id)
                    .carousel-item.active
                      img.d-block.w-100(src=picture.path)
                  else
                    .carousel-item
                      img.d-block.w-100(src=picture.path)
              else
                each picture, index in jam.pictures
                  if (index===0)
                    .carousel-item.active
                      img.d-block.w-100(src=picture.path)
                  else
                    .carousel-item
                      img.d-block.w-100(src=picture.path)
            button.carousel-control-prev(type='button', data-bs-target='#binkPictureCarousel' data-bs-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.visually-hidden Previous
            button.carousel-control-next(type='button', data-bs-target='#binkPictureCarousel' data-bs-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.visually-hidden Next
  if (jam.video && jam.video.length > 0)
    .card.border-secondary
      .card-body
        h4.card-title Video
        .list-group
          for video in jam.video
            li.list-group-item
              a(href=video.path) #{video.title}
              if (video.notes)
                | &nbsp;- #{video.notes}
