if (jams.length > 0)
  for jam in jams
    .card.border-primary.m-1.mb-3
      .card-header
        .row
          h4.card-title.col-8
            | #{jam.mydate} -&nbsp;#{jam.title}
          .col
            if (jam.private)
              i.fa-sm.fa-solid.fa-key.m-1.float-end
            a(href='javascript:' data-id=jam.id).viewJamButton.ms-2.float-end
              i.fa-sm.fa-solid.fa-magnifying-glass
            if (admin)
              a(href='javascript:' data-id=jam.id).editJamButton.ms-2.float-end
                i.fa-sm.fa-solid.fa-pen-to-square
              a(href='javascript:' data-id=jam.id).deleteJamButton.ms-2.float-end
                i.fa-sm.fa-solid.fa-trash
        h6.card-subtitle.mb-2.text-muted
          if (jam.band && jam.location)
            a(href=`javascript:loadEntity('bands', ${jam.band.id});`) #{jam.band.name} 
            | &nbsp;at&nbsp;
            a(href=`javascript:loadEntity('locations', ${jam.location.id});`) #{jam.location.name}        
          else if jam.band
            a(href=`javascript:loadEntity('bands', ${jam.band.id});`) #{jam.band.name}
          else if jam.location
            | At&nbsp;
            a(href=`javascript:loadEntity('locations', ${jam.location.id});`) #{jam.location.name}
      .card-body
        p.card-text 
          if (typeof jam.defpic !== "undefined" && jam.defpic !== null && typeof jam.defpic.path !== "undefined" && jam.defpic.path !== null)
            .row
              .col-8
                | #{jam.notes}
              .col-4 
                img.img-thumbnail(src=jam.defpic.path)
          else
            | #{jam.notes}
else if (history)
  p No jams occurred on this date in years past.
else
  p There are no jams in BINK! #{history}
